<!-- navbar.component.html -->
<div class="navbar">
  <ul class="navbar-left"> <!-- Lista para elementos a la izquierda -->
    <li><a routerLink="/informacion">Información</a></li> <!-- Botón "Información" a la izquierda -->
    <li><a routerLink="/productos">Productos</a></li> <!-- Botón "Productos" al lado de "Información" -->
  </ul>
  <div class="logo">
    <!-- Puedes colocar aquí el logo de Aqua Pura -->
  </div>
  <ul>
    <li><a routerLink="/login">Iniciar Sesión</a></li>
    <!-- Otras opciones de navegación aquí -->
  </ul>
</div>
