
/* Estilos personalizados para el botón de inicio de sesión */
.btn-outline-success-on-hover {
    background-color: rgb(255, 255, 255); /* Fondo predeterminado (negro) */
    color: black; /* Texto blanco */
    transition: background-color 0.3s; /* Transición de color de fondo */
  }
  
  .btn-outline-success-on-hover:hover {
    background-color: #28a745; /* Fondo verde al pasar el cursor */
    color: swhite; /* Texto blanco (puedes cambiar el color del texto según sea necesario) */
  }
  