<div class="container">
  <mat-toolbar>
    <span>Usuarios</span>
  </mat-toolbar>
  <!-- <table border="1">
    <thead>
      <tr>
        <th>RUT Usuario</th>
        <th>Nombre Usuario</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of usuarios">
        <td>{{ data.RUT_USUARIO }}</td>
        <td>{{ data.NOMBRE_USUARIO }}</td>
      </tr>
    </tbody>
  </table> -->

  <table 
    mat-table
    [dataSource]="usuarios"
    class="mat-elevation-z8"
    style="width: 100%"
  >
    <ng-container matColumnDef="rut">
      <th mat-header-cell *matHeaderCellDef>RUT USUARIO</th>
      <td mat-cell *matCellDef="let element">{{ element.RUT_USUARIO }}</td>
    </ng-container>
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>NOMBRE USUARIO</th>
      <td mat-cell *matCellDef="let element">{{ element.NOMBRE_USUARIO }}</td>
    </ng-container>
    <ng-container matColumnDef="apellido1 usuario">
      <th mat-header-cell *matHeaderCellDef>APELLIDO1 USUARIO</th>
      <td mat-cell *matCellDef="let element">{{ element.APELLIDO1_USUARIO }}</td>
    </ng-container>
    <ng-container matColumnDef="apellido2 usuario">
      <th mat-header-cell *matHeaderCellDef>APELLIDO2 USUARIO</th>
      <td mat-cell *matCellDef="let element">{{ element.APELLIDO2_USUARIO }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
