<!-- reporte2.component.html -->

<div class="container mt-4">
  <div class="form-group">
    <label for="fechaInicio">Fecha de Inicio:</label>
    <input type="date" class="form-control" id="fechaInicio" [(ngModel)]="fechaInicio">
  </div>
  <div class="form-group">
    <label for="fechaFinal">Fecha Final:</label>
    <input type="date" class="form-control" id="fechaFinal" [(ngModel)]="fechaFinal">
  </div>
  <button mat-button class="btn btn-primary mt-4" (click)="obtenerVentasPorMes()">Obtener Reporte</button>

  <!-- Mostrar datos solo si mostrarDatos es verdadero -->
  <div *ngIf="mostrarDatos">
    <!-- Aquí debes mostrar tus datos, utiliza la estructura HTML que necesites -->
    <div *ngIf="resultadoVentasPorMes && resultadoVentasPorMes.length > 0; else noDatos">
      <table class="table">
        <thead>
          <tr>
            <th>Mes</th>
            <th>Cantidad Ventas</th>
            <th>Total Dinero</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let venta of resultadoVentasPorMes">
            <td>{{ venta.mes }}</td>
            <td>{{ venta.cantidadVentas }}</td>
            <td>{{ venta.totalDinero }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noDatos>
      <p>No hay datos disponibles.</p>
    </ng-template>
  </div>

  <!-- Mensaje de error -->
  <div *ngIf="mensajeSinDatos" class="alert alert-danger mt-3">
    {{ mensajeSinDatos }}
  </div>
</div>