/* Contenedor principal */
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

/* Barra de herramientas */
.mat-toolbar {
  display: flex;
  justify-content: space-between;
}

/* Filler para ocupar espacio restante en la barra de herramientas */
.filler {
  flex: 1;
}

/* Estilo para el contenedor de estado */
.estado-container {
  display: flex;
  align-items: center;
  gap: 40px; /* Ajusta el valor según tu preferencia para la separación */
}

/* Formulario y selectores */
mat-form-field {
  width: 40%;
}

.mat-select {
  font-size: 13px;
  min-width: 10px;
}

/* Botones */
button.mat-button {
  font-size: 12px;
  margin: 0 5px;
}

/* Filas y celdas de la tabla */
.mat-row {
  margin-bottom: 100px;
}

.mat-cell {
  margin-bottom: 50px;
  padding-right: 100px;
}

/* Ajustar el margen entre elementos dentro de estado-container */
.estado-container select,
.estado-container button {
  margin-right: 10px; /* Puedes ajustar este valor según tu preferencia */
}

/* Ajustar el margen entre las columnas de la tabla */
.mat-column-cod_reserva,
.mat-column-fecha_creacion,
.mat-column-nombre_cliente,
.mat-column-ciudad_cliente,
.mat-column-total,
.mat-column-estado {
  margin-right: 10px; /* Puedes ajustar este valor según tu preferencia */
  width: 150px;
}


